<p>Order id: <%= @order['order_id'] %></p>
<p>User id: <%= @order['user_id'] %></p>
<p>Product id: <%= @order['product_id'] %></p>
<p>Quantity: <%= @order['quantity'] %></p>
<p>Subtotal: <%= @order['subtotal'] %></p>
<p>Tax: <%= @order['tax'] %></p>
<p>Total: <%= @order['total'] %></p>