<h2>Order Summary</h2>
<p>Order id: <%= @order['order_id'] %></p>
<p>Order Subtotal: <%= @order['subtotal'] %></p>
<p>Order Tax: <%= @order['tax'] %></p>
<p>Order Total: <%= @order['total'] %></p>


<h2>Product Info:</h2>
<% @order['carted_products'].each do |carted_product| %>
  <p>Name: <%= carted_product['product']['name'] %>
  <p>Quantity: <%= carted_product['quantity'] %>
  <p>Price: <%= carted_product['product']['price'] %>
<% end %>