<p>id: <%= @product["id"] %></p>
<p>name: <%= @product["name"] %></p>
<p>Supplier: <%= @product["supplier"]["name"] %></p>
<% if @product["discounted"] %>
  <p>Discounted item</p>
  <% else %>
  <p>Everyday value</p>
<% end %>
<p>price: <%= @product["price"] %></p>
<p>tax: <%= @product["tax"] %></p>
<p>product total: <%= @product["product_total"] %></p>

  <% @product["categories"].each do |category| %>
    <p>categories:</p>
  <ul>
      <li><%= category["name"] %></li>
  </ul>
<% end %>
<p>description: <%= @product["description"] %></p>
<!-- <p>image: <p> -->
<!-- loop through array of images -->
<% @product["images"].each do |image| %>
  <p>Image: <img src="<%= image["url"] %>"></p>
<% end %>

<h2>Add Item to Cart</h2>
<%= form_tag "/client/carted_products", method: :post do %>
  <p>product: <input type= "text" name="product_id" value= <%= @product['id'] %> ></p>
  <p>quantity: <input type= "text" name="quantity"></p>
  <input type="submit" value="add item to cart">
<% end %>

<p><a href="http://localhost:3001/client/products/<%= @product['id']%>/edit">Edit Product</a></p>
<p><a href="http://localhost:3001/client/products/<%= @product['id'].to_i - 1 %>">View previous product</a> | <a href="http://localhost:3001/client/products/<%= @product['id'].to_i + 1 %>">View next product</a>
