<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p><%= @jwt %></p>
    <a href="http://localhost:3001/client/products/">Home</a>
    <a href="/client/signup">Sign Up</a>
    <a href="/client/login">Log In</a>
    <a href="/client/logout" data-method="delete">Log Out</a>
    <% flash.each do |name, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
