<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p><a href="http://localhost:3001/client/products/">Home</a></p>
    <% flash.each do |name, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
